{% extends 'base.html' %}
{% load static %}
   {% block container %}
    <header class="header--form-page">

        <nav class="container container--70">
            {% if user.is_authenticated %}
                <ul class="nav--actions">

                <li class="logged-user">
                    Witaj {{ user.name }}
                    <ul class="dropdown">
                        <li><a href="#">Profil</a></li>
                        <li><a href="#">Ustawienia</a></li>
                        <li><a href="{% url 'home:logout' %}">Wyloguj</a></li>
                    </ul>
                </li>
            {% endif %}
            </ul>
            {% include 'navbar.html' %}
        </nav>

      <div class="slogan container container--90">
          <h2>
            Dziękujemy za przesłanie formularza Na maila prześlemy wszelkie
            informacje o odbiorze.
          </h2>
      </div>
    </header>
{% endblock %}


