{% extends 'base.html' %}
{% load static %}

{% block header %}
    <div class="container">
        <div class="slogan--item">
            <h1> Name: {{ user.name }}</h1>
            <h1> Surname: {{ user.surname }}</h1>
            <h1> Email: {{ user.email }}</h1>
        </div>
        {% for donat in donations %}
        <div class="dropdown">
            <button class="title">Obdarowana organizacja: {{ donat.institution }}</button>
                <div class="dropdown-content">
                    <h1>Liczba przekazanych worków: {{ donat.quantity }}</h1>
                    <h1>Kategorie darów: {% for cat in donat.categories.all %}{{ cat.name }}, {% endfor %}</h1>
                    <h1>Termin odbioru: {{ donat.pick_up_date }} o godzinie {{ donat.pick_up_time }}</h1>
                </div>
                </div>
            {% endfor %}

    </div>
{% endblock %}